p[data-v-9af3681a]{white-space:pre-wrap}.item[data-v-9af3681a]{padding:10px;border:1px solid black;display:flex;justify-content:space-between;align-items:center}.fa-copy[data-v-9af3681a]:hover{cursor:pointer;opacity:.5}
